service cloud.firestore {
  match /databases/{database}/documents {

    match /positions/{position} {
      allow read: if true;
      allow create: if request.auth.uid == request.resource.data.createdBy;
      allow update, delete: if request.auth.uid == resource.data.createdBy;
    }

    match /candidates/{candidate} {
      allow read: if true;
      allow create: if request.auth.uid == request.resource.data.createdBy;
      allow update, delete: if request.auth.uid == resource.data.createdBy;
    }
  }
}
